# Configuración de la base de datos
DB_TYPE=mysql        # o postgres
DB_HOST=localhost    # Dirección del servidor de la base de datos
DB_PORT=3306         # o 5432 para postgres u otro
DB_USER=root         # Usuario de la base de datos
DB_PASSWORD=tu_contraseña # Contraseña de la base de datos
DB_DATABASE=nombre_de_la_base_de_datos # Nombre de la base de datos
